[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=true
Icon=brave-browser
Name=brave-browser
NoDisplay=true
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-Commands=/usr/bin/brave-browser
X-XFCE-CommandsWithParameter=/usr/bin/brave-browser "%s"
