[Desktop Entry]
Type=Application
Name=polkit-authentication-agent
Comment=Start polkit authentication agent
Exec=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Terminal=false
NoDisplay=true
