[Desktop Entry]
Version=1.1
Type=Application
Name=Hibernate
GenericName=Hibernate
Comment=hibernate the machine
Icon=system-suspend-hibernate
OnlyShowIn=LXQt;
Exec=lxqt-leave --hibernate
Actions=
Categories=Leave;System;X-Leave;
NoDisplay=true
