[Desktop Entry]
Version=1.1
Type=Application
Name=About LXQt
GenericName=About LXQt
Comment=Learn more about LXQt
Icon=help-about
OnlyShowIn=LXQt;
Exec=lxqt-about
Actions=
Categories=Documentation;System;
NoDisplay=true