[Desktop Entry]
Version=1.0
Type=Application
Name=Dunst notifications
Comment=Start dunst for notifications
Exec=dunst
StartupNotify=false
Terminal=false
NoDisplay=true
