[Desktop Entry]
Type=Application
Exec=plank
Hidden=false
Name[en_US]=Plank Dock
Name=Plank
Comment[en_US]=Dock for applications
Comment=Dock for applications
Icon=plank
X-MATE-Autostart-Delay=0
