[Desktop Entry]
Name=UXTerm
GenericName=Terminal
Comment=XTerm wrapper
Terminal=false
Exec=uxterm
Icon=xterm
Type=Application
Categories=System;TerminalEmulator;
StartupWMClass=UXTerm
NoDisplay=true
