[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
GenericName=Terminal
Comment=GPU based terminal
TryExec=kitty
Exec=kitty
Icon=utilities-terminal
Categories=System;TerminalEmulator;
